/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

/* Базовые стили */
* {
    box-sizing: border-box;
}

/* Переменнная */
:root {
    --container-width: 1260px;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: var(--container-width);
    padding: 0px 40px;
    margin: 0px auto;
}

/* header */

.header {
    position: absolute;
    width: 100%;
}

/* Изменение контейнера для шапки */
.header__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    padding-top: 29px;
}

/* Логотип */
.logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    flex-shrink: 0;
}

/* Картинка логотипа */
.logo__img {
    object-fit: contain;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

/* Текст логотипа */
.logo__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Навигация */
.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

/* Спрятать белую кртинку если она не находится внутри мобильного меню */
.header__nav:not(.menu-mobile) .logo__img--white {
    display: none;
}

/* Спрятать голубую картинку внутри мобильного меню */
.menu-mobile .logo__img--blue {
    display: none;
}

/* Прозрачный логотип внутри мобильного меню */
.menu-mobile .logo {
    opacity: 0.2;
}

/* Спрятать телефон который находится мобильного меню */
.menu-mobile__tel {
    display: none;
}

/* Стили телефона в мобильном меню */
.menu-mobile .menu-mobile__tel {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Мобильное меню */
.header__nav.menu-mobile {
    flex-direction: column;
    justify-content: flex-start;
    background: #1E92E7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 16px 50px;
    text-align: center;
}

/* Список навигации */
.nav__list {
    display: flex;
    column-gap: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    background: #404F59;
    border-radius: 0px 0px 10px 10px;
    margin-top: -29px;
    padding: 20px 40px;
}

/* Список элементов меню на мобильном устройстве */
.menu-mobile .nav__list {
    background: none;
    margin-top: 54px;
    padding: 0;
    flex-direction: column;
    row-gap: 30px;
    align-self: center;
    flex: 1;
}

/* Анимация на ссылке */
.nav__link {
    transition: all 0.3s;
}

/* Смена цвета ссылки при наведении */
.nav__link:hover {
    color: rgba(255, 255, 255, 0.4);
}

/* Стилизация телефона внутри header */
.tel {
    display: flex;
    align-items: center;
}

.tel span {
    color: #FFFFFF;
}

.tel__icon {
    margin-right: 10px;
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.tel__link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    white-space: nowrap;
}

/* end Стилизация телефона внутри header */


/* Бургер меню */
.burger {
    display: none;
    padding: 0;
    width: 26px;
    height: 20px;
    z-index: 10;
    position: relative;
}

/* Бургер меню внутри полноэкранного меню */
.menu-mobile .burger {
    position: fixed;
    top: 16px;
    right: 16px;
}

/* Элемент бургер меню */
.burger__el {
    display: block;
    background: #FFFFFF;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
}

/* Прижать верхний элемент бургера к верхнему краю */
.burger__el:nth-child(1) {
    top: 0;
}

/* Расположить средний элемент по центру */
.burger__el:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Прижать нижний элемент бургера к нижнему краю */
.burger__el:nth-child(3) {
    bottom: 0;
}

/* Стили элементо бургера внутри мобильного меню */

/* Спряать средний элемент */
.menu-mobile .burger__el:nth-child(2) {
    display: none;
}

/* Повернуть верхний элемент на 45 градусов */
.menu-mobile .burger__el:nth-child(1) {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
}


/* Повернуть нижний элемент на -45 градусов */
.menu-mobile .burger__el:nth-child(3) {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) rotate(-45deg);
}

/* hero */

.hero {
    /* max-height: 750px; */
    /* height: 61.5vw; */
    border-bottom: 50px solid #1E92E7;
    background-image: url(../img/hero/decor.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2C3B45;
    padding-top: 132px;
    position: relative;
    z-index: 1;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.hero__content {
    /* 602px/1180px = 51% */
    flex-basis: 51%;
}

.hero__content {
    /* 92px / 1180px = 7,8% */
    padding-top: 7.8%;
}

.address {
    font-style: normal;
    /* 36px / 602px = 6% */
    margin-bottom: 6%;
}

.address__icon {}

.address__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #1E92E7;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 488px;
}

.hero__title {
    /* 48px/602px = 7.7% */
    margin-bottom: 7.7%;
}

.btn {
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn_theme_transparent {
    background-color: transparent;
    border: 1px solid #1E92E7;
    color: #000000;
    padding: 9px 20px;
}

.btn_theme_blue {
    /* Внутренний отступ по меньшей кнопке (примерный отступ) */
    padding: 14px 30px;
    background: #1E92E7;
    color: #FFFFFF;
}

.btn.active {
    background: #1E92E7;
    color: #FFFFFF;
}

.btn:hover {
    background-color: #187fc9;
    color: #FFFFFF;
}

.hero__btn {
    /* 199/602 = 33 */
    margin-bottom: 33%;
    display: inline-block;
    min-width: 244px;
}

/* .hero__img {
    padding-top: 48.1%;
    position: relative;
    background: url(../img/vertical-shot-white-building-clear-sky.png) no-repeat 50% 10px/contain;
} */

.hero__img-wrap {
    position: relative;
    /* height: 100%; */
    border-radius: 5px 0px 0px 0px;
    /* Оставшееся место */
    flex-grow: 1;
}

.hero__img-wrap:before {
    content: "";
    display: block;
    background: url(../img/hero/sky.jpg) center/cover no-repeat;
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: inherit
}

.hero__img-wrap::after {
    content: "";
    display: block;
    background-color: #404F59;
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 30px;
    top: -15px;
    z-index: -2;
    border-radius: inherit
}

.hero__img {
    height: 95%;
    width: 100%;
    object-fit: contain;
    object-position: center bottom;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    position: absolute;
}

/* Аренда */

.rent {
    padding: 120px 0px 100px;
}

.section-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
}

.rent__title {
    margin-bottom: 15px;
}

.rent__btns {
    margin-bottom: 50px;
}

.rent__btns-list {
    display: flex;
    column-gap: 10px;
}

.rent__btns-item {}

.btn {}

.btn_transparent {}

.rent__btn {}

.offers-slider {}

.rent__select-wrap {
    position: relative;
    display: none;
}

.rent__select-wrap::after {
    content: "";
    width: 15px;
    height: 10px;
    display: block;
    background: url(../img/rent/arrow_select.svg) no-repeat center/contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    /* Снять клик со стрелки */
    pointer-events: none;
}

.rent__select {
    /* Убрать стрелку */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #1E92E7;
    border-radius: 5px;
    padding: 9px 50px 9px 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

/* Убрать стрелку у IE 10 b 11 */
.rent__select::-ms-expand {
    display: none;
}

.control {
    font-size: 0px;
    position: absolute;
    width: 20px;
    height: 20px;
}

.control::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #7A7A7A;
    border-top: none;
    border-right: none;
    transition: all 0.3s;
}

.control:hover::before {
    border-color: #1E92E7;
}

.control_type_disc {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control_type_disc::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 25%;
    border: 1px solid #7A7A7A;
    border-top: none;
    border-right: none;
    transition: all 0.3s;
    border-color: #1E92E7;
}


.offers__control-prev,
.offers__control-next {
    top: 207px;
}

.control_prev {
    transform: rotate(45deg);
}

.offers__control-prev {
    left: 5px;
}

.control_next {
    transform: rotate(-135deg);
}

.offers__control-next {
    right: 5px;
}

.offers-slider__container {
    padding: 0 30px;
    position: relative;
}

.offers-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    column-gap: 20px;
    overflow-x: hidden;
    padding: 10px;
}

.offer {
    width: 380px;
    flex-shrink: 0;
}

.offer__content {
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: transform 0.3s;
}

.offer__content:hover {
    transform: scale(1.01);
}

.offer__img {
    height: 222px;
}

.offer__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer__info {
    padding: 33px 40px 40px 40px;
}

.offer__info-list {
    margin-bottom: 30px;
}

.offer__info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.offer__info-item:last-child {
    margin-bottom: 0px;
}

.offer__info-desc {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    flex: 1;
    display: flex;
}

.offer__info-desc::after {
    content: '';
    display: inline-block;
    border-bottom: 1px dashed #E6E6E6;
    flex: 1;
}

.offer__info-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}

.offer__info-value_true {
    color: #61CD66;
}

.offer__btn {
    width: 100%;
}

.offers-slider__pagination {
    width: 100%;
}

.slider-pagination__bullets {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.slider-pagination__bullet {
    flex: 0 1 73px;
    height: 3px;
    border-radius: 1px;
    overflow: hidden;
}

.slider-pagination__link {
    display: block;
    width: 100%;
    height: 100%;
    background: #D9D9D9;
}

.slider-pagination__bullet.active .slider-pagination__link {
    background: #1E92E7;
    border-radius: 1px;
}

/* Услуги */

.services {
    background-color: #F8F8F8;
    padding: 90px 0px 120px;
}

.services__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.section-title {}

.services__title {}

.logo {}

.services__logo {}

.services .logo__img {
    opacity: 0.4;
}

.services__logo .logo__title {
    color: rgba(0, 0, 0, 0.4);
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.service {
    width: calc((100% - 40px) / 3);
    display: flex;
    min-height: 172px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.service__icon {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C3B45;
    flex-shrink: 0;
}

.service__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 40px 30px 20px;
}

.service__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 15px;
}

.service__list {
    padding-left: inherit;
}

.service__item {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #9C9C9C;
    list-style-type: disc;
}

/* Фото галерея */

.gallery {
    padding: 120px 0px 90px;
}

.gallery__title {
    margin-bottom: 54px;
}

.gallery__slider {
    margin-bottom: 50px;
    position: relative;
}

.gallery__slider-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 10;
}

.gallery__slider-control {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

.gallery__slider-control:hover {
    background: #caced1;
}

.gallery__slider-control img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery__slider-controls-container {}

.gallery__slider-control-prev {
    left: 40px;
}

.gallery__slider-control-next {
    right: 40px;
}

.gallery__list {
    display: flex;
    column-gap: 30px;
    justify-content: flex-start;
}

.gallery__item {
    flex: 0 0 575px;
    height: 382px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
    overflow: hidden;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Контакты */
.contacts {
    padding: 120px 0px;
    background: linear-gradient(90deg, #2C3B45 0, #2C3B45 54vw, #1E92E7 54vw);
    position: relative;
}

.contact__decor {
    position: absolute;
    width: 54vw;
    top: 0;
    bottom: 0;
    background: url(../img/contacts/decor.svg) no-repeat bottom right / cover;
}

.contacts__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.contacts__content {}

.section-title {}

.contacts__title {
    color: #FFFFFF;
    margin-bottom: 51px;
}

.contacts__info {
    margin-bottom: 84px;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.contacts-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.contacts-item__icon {
    width: 30px;
    height: 30px;
}

.contacts-item__link {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.work-hours {}

.work-hours__desc {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.work-hours__info {
    background: #404F59;
    border-radius: 5px;
    min-height: 50px;
    padding: 5px 5px 5px 15px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.work-hours__day {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    color: #1E92E7;
}

.work-hours__time {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #2C3B45;
    border-radius: 5px;
    display: block;
    padding: 6px 20px;
}

.contacts__map {}

.footer {
    background: #404F59;
    padding: 40px 0px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {}

.social__list {
    display: flex;
    column-gap: 15px;
}

.social__item {
    width: 40px;
    height: 40px;
}

.social__link {
    display: block;
    width: 100%;
    height: 100%;
}

.social__link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}