@media (max-width: 1180px) {
    .title {
        font-size: 4.75vw;
    }
}

@media (max-width: 960px) {
    .burger {
        display: block;
    }

    .header__menu {
        display: none;
    }

    .header__tel {
        display: none;
    }

    .menu-mobile .header__menu {
        display: flex;
    }

    /* Размер шрифта мобильного меню */
    .menu-mobile .nav__list {
        font-size: 1rem;
    }

    .service {
        width: calc((100% - 20px) / 2);
        min-height: 172px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero {
        padding-top: 90px;
        border-bottom-width: 30px;
    }

    .hero__content {
        /* 322/580 = 55.5% */
        flex-basis: 55.5%;
        padding-top: 46px;
    }

    .hero__container {
        /* Убрать отступ справа, чтобы картинку расположить как на макете */
        padding-right: 0;
    }

    .hero__img {
        left: 50%;
        transform: translateX(calc(-50% + 30px));
    }

    .section-title {
        font-size: 24px;
    }

    .section {
        padding: 0;
    }

    .rent,
    .gallery,
    .contacts {
        padding-top: 90px;
        padding-bottom: 70px;
    }

    .rent__btns-list {
        display: none;
    }

    .rent__select-wrap {
        display: inline-block;
    }

    .offers-slider .control {
        display: none;
    }

    .offers-slider__container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .offer {
        width: 307px;
    }

    .services {
        background-color: transparent;
    }

    .services__logo {
        display: none;
    }

    .service {
        display: block;
        min-height: 251px;
    }

    .service__icon {
        width: auto;
        display: flex;
        justify-content: flex-start;
        background-color: transparent;
        padding: 30px 20px 0;
    }

    .service__content {
        padding: 20px 20px 30px 20px;
    }

}

@media (max-width: 480px) {
    .container {
        padding: 16px 16px 0px;
    }

    .hero {
        /* height: 758px; */
        max-height: none;
        height: auto;
        padding-top: 115px;
    }

    .hero__container {
        flex-direction: column;
        align-items: center;
    }

    .hero__content {
        /* 453/768 = 59% */
        flex-basis: 59%;
        padding-top: 0;
        padding-bottom: 80px;
        text-align: center;
    }

    .title {
        font-size: 36px;
        max-width: 343px;
    }

    .hero__img-wrap {
        width: 100%;
        margin-left: -30px;
        border-radius: 0;
        height: 484px;
    }

    .hero__img-wrap::after {
        display: none;
    }

    .hero__img {
        left: 50%;
    }

    .hero__img-wrap:before {
        top: auto;
        bottom: 0;
        height: 85%;
    }

    .service {
        display: flex;
        min-height: 152px;
        width: 100%;
    }

    .service__icon {
        width: auto;
        display: flex;
        justify-content: center;
        background-color: #2C3B45;
        padding: 15px;
    }

    .service__content {
        padding: 20px 20px 30px 20px;
    }


}