/* Аренда */

/* Внутренние отступы секции */
.rent {
    padding: 120px 0px 100px;
}


/* Заголовок секции */
.section-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
}

/* Отступ от заголовка секции Аренда */
.rent__title {
    margin-bottom: 15px;
}

/* Отступы от кнопок */
.rent__btns {
    margin-bottom: 50px;
}

/* Список кнопок */
.rent__btns-list {
    display: flex;
    /* Расстояниие между элементами по горизонтали внутри флекс-контейнера */
    column-gap: 10px;
}



/********************** Блок с селектом (появляется на мобильной версии) **********************************/

.rent__select-wrap {
    position: relative;
    display: none;
}

/* Кастомная стрелка селекта */
.rent__select-wrap::after {
    content: "";
    width: 15px;
    height: 10px;
    display: block;
    background: url(../../img/rent/arrow_select.svg) no-repeat center/contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    /* Снять клик со стрелки */
    pointer-events: none;
}


/* Стили селекта */
.rent__select {
    /* Убрать стрелку */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* Настройка границ */
    border: 1px solid #1E92E7;
    border-radius: 5px;

    /* Внутренние отступы */
    padding: 9px 50px 9px 20px;

    /* Настройка шрифта */
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

/* Убрать стрелку у IE 10 b 11 */
.rent__select::-ms-expand {
    display: none;
}

/********************************* ПРЕДЛОЖЕНИЯ В СЕКЦИИ АРЕНДА (слайдер) ******************************************/


/* Слайдер блока offers */
.offers-slider__container {
    /* padding: 0 30px; */
    position: relative;
}

/* ------ Стрелки слайдера ----------- */

/* Блок под стрелки */
.control {
    font-size: 0px;
    position: absolute;
    z-index: 100;
}

/* Стрелку рисуем через псевдоэлемент */
.control::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #7A7A7A;
    border-top: none;
    border-right: none;

    /* Плавность изменения состояния */
    transition: all 0.3s;
}

/* Стили при наведении на стрелку */
.control:hover::before {
    border-color: #1E92E7;
}

/* Стрелка назад */
.control_prev {
    transform: rotate(45deg);
}

/* Стрелка вперед */
.control_next {
    transform: rotate(-135deg);
}


/* Стрелка уголком */
.control_type_triangle::before {
    top: 0;
    left: 0;
}

/* Модифицируем стрелку в круглую */
.control_type_disc {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Изменяем размер стрелки если она находится в круге */
.control_type_disc::before {
    width: 25%;
    height: 25%;
    border-color: #1E92E7;
}

/* --- Стили кнопки для блока offers (начало) --- */

.offers__control {
    width: 20px;
    height: 20px;
    top: 207px;
}

.offers__control.control_type_disc {
    display: none;
}

.offers__control-prev {
    left: 5px;
}

.offers__control-next {
    right: 5px;
}

/* --- Стили кнопки для блока offers (конец) --- */



/* ------------------------- Карточки предложений ----------------------------- */

/* Список предложений */
.offers-list {
    display: flex;
    column-gap: 20px;
    overflow-x: hidden;
    padding: 10px;
    margin: 0px -10px 50px;
}


/* ПРЕДЛОЖЕНИИЕ */

/* Делаем фиксированной ширины и запрещаем ужиматься */
.offer {
    width: 380px;
    flex-shrink: 0;
}


/* Обертка для содержимого блока offers */
.offer__content {
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: transform 0.3s;
}

/* При наведении на offers - немного увеличивается*/
.offer__content:hover {
    transform: scale(1.01);
}

/* Зададим обертке картинки фиксированную высоту */
.offer__img {
    height: 222px;
}

/* Картинку растянем на ширину и высоту обертки*/
.offer__img img {
    width: 100%;
    height: 100%;

    /* Элемент увеличивается или уменьшается, чтобы целиком заполнить заданную область с сохранением пропорций */
    object-fit: cover;
}

/* Блок с информацией (под картинкой) */
.offer__info {
    padding: 33px 40px 40px 40px;
}

/* Блок со списком (Площадь - 42, этаж - 7, интернет - есть) */
.offer__info-list {
    margin-bottom: 30px;
}

/* Элемент списка */
.offer__info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* У последнего элемента списка убираем нижний отступ */
.offer__info-item:last-child {
    margin-bottom: 0px;
}

/* Текст внутри элемента спика (площадь, этаж, интернет) */
.offer__info-desc {
    /* Настройки шрифта */
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;

    /* Разрешаем элементу занимать все свободное пространство */
    flex: 1;
    /* Делаем элемент flex-контейнером */
    display: flex;
}

/* Через псевдоэлемент задаем пунктирную линию (как в макете) */
.offer__info-desc::after {
    content: '';
    display: inline-block;
    border-bottom: 1px dashed #E6E6E6;
    flex: 1;
}

/* Значение которое установлено после пунктирной линии */
.offer__info-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}

/* Модификатор для значения */
.offer__info-value_true {
    color: #61CD66;
}

/* Кнопку растягиваем на ширину родителя */
.offer__btn {
    width: 100%;
}



/********************************************************* БУЛЛЕТЫ ДЛЯ СЛАЙДЕРА *************************************************/

/* Блок с буллетами растягиваем на ширину родителя */
.offers-slider__pagination {
    width: 100%;
}

/* Список буллетов */
.slider-pagination__bullets {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

/* Буллет */
.slider-pagination__bullet {

    /* Запрещаем буллету расширяться (flex-grow: 0), разрешаем ужиматься (flex-shrink: 1), устанавливаем базовый размер (flex-basis: 73px) */
    flex: 0 1 73px;
    /* Высота буллета */
    height: 3px;
    /* Скругляем углы */
    border-radius: 1px;
    /* Если не установить данное свойство то углы не скруглятся */
    overflow: hidden;
}

/* Ссылку делаем блочной и растягиваем на ширину и высоту родителя */
.slider-pagination__link {
    display: block;
    width: 100%;
    height: 100%;
    background: #D9D9D9;
}

/* При клике на буллет к нему добавляется активный класс и ссылку внутри меняет цвет */
.slider-pagination__bullet.active .slider-pagination__link {
    background: #1E92E7;
    border-radius: 1px;
}